<!DOCTYPE html>

    <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-auto_prompt ="false"
         data-client_id="<%= clientId %>"
         data-callback="onSignIn">
    </div>
    <div class="g_id_signin" data-type="standard" ></div>
    <script>
        function onSignIn(googleUser) {
            const creds = googleUser.credential
            console.log({creds})
            window.location.replace("<%= redirectUri %>??success=1&response_type=<% responseType %>&state=<%= state %>&code="+creds)
        }
    </script>

</body>

</html>